@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import 'tailwindcss';


@theme {
    --font-hero: 'DynaPuff', cursive;
    --font-body: 'Montserrat Alternates', sans-serif;
    --font-heading: 'SN Pro', sans-serif;
    --color-primary: #3b73e3;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@layer {
    .slide-animation {
        animation: slide 1.2s linear infinite;
    }
    .flex-center {
      @apply flex justify-center items-center;
    }
    .font-shadow {
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    }
    .btn {
      @apply py-2 lg:py-2 px-4 lg:px-8 font-body text-[3vw] lg:text-sm rounded-3xl transition duration-300 cursor-pointer shadow-md;
    }
    .form-fieldset {
        @apply flex gap-4 mt-5 items-center border-2 rounded border-gray-300 p-2 font-body text-sm;
        
    }
    /* .form-fieldset:focus-within {
        border-color: #608dd0;
        box-shadow: 0 0 0 2px rgba(14, 83, 186, 0.3);
    } */

    .shadow-created {
      @apply [box-shadow:_0_4px_8px_#3b73e33e];
    }
    .task-headings {
        @apply font-heading text-base tracking-widest text-center;
    }
    .transition-smooth {
        @apply transition-all duration-300 ease-in-out;
    }
    .bg-gradient {
        @apply bg-gradient-to-l from-slate-800 to-slate-900;
    }
    .bg-dashboard {
        @apply bg-gradient-to-tr from-blue-200 to-blue-100 ;
    }
    .bg-high {
      @apply bg-gradient-to-br from-red-500/80 to-red-400/80 hover:from-red-500 hover:to-red-400 border-1 border-red-400;
    }
    .bg-medium {
      @apply bg-gradient-to-br from-yellow-500/70 to-yellow-300/70 hover:from-yellow-500 hover:to-yellow-300 border-1 border-yellow-400;
    }
    .bg-low {
      @apply bg-gradient-to-br from-green-500/80 hover:from-green-500 to-green-300/80 hover:to-green-300 border-1 border-green-400;
    }
    .task-cards {
      @apply flex [box-shadow:_0_4px_8px_#3b73e33e] bg-white/80 px-3 py-2 rounded-md gap-2 items-center gap-3;
    }
    .btn-bg-primary {
      @apply bg-gradient-to-tr from-primary to-blue-400;
    }
    .profile-card {
      @apply bg-linear-to-br from-55% from-[#FFFFFF] to-[#ecebf9] w-50 lg:w-1/4 h-full rounded-xl py-3 px-3 lg:px-5 flex flex-col justify-center grow lg:grow-0;
    }
    .shadow-bg {
      @apply [box-shadow:_0_4px_8px_#dad0ff];
    }
    .avatar-card {
      @apply size-12 lg:size-14 rounded-full overflow-hidden bg-[#dad0ff] cursor-pointer;
    }
    .avatar-img {
      @apply size-16 object-scale-down;
    }
    .field-set {
      @apply w-full flex border-2 border-purple-200 rounded-3xl gap-3 px-1 items-center py-1 mt-3;
    }
    .field-set-input {
      @apply w-[calc(100%-32px)] cursor-text font-body text-sm font-medium  text-[#444] outline-none;
    }
}